
/*///////////////////////////////*/
header.page-header {
    background: url(https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&ved=2ahUKEwi_0rjCn_HmAhWR5OAKHR7aDUwQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.francealumni.fr%2Ffr%2Fpartenaire%2F15331&psig=AOvVaw0lqeo3dVvdNSWVF-dkXDc0&ust=1578478125745005);

    height: 360px;
    min-width: 360px;
    align-items: center;

}
/*/////////////////////////////*/
