<!--<table class="table table-bordered">

<tbody>
<tr ng-repeat="sousclasse in classes ">
    <td  ng-repeat="classe in sousclasse " ng-click="save()" style="background-color: #00FFFF;" onmouseover="this.style.background='#0000FF';" onmouseout="this.style.background='#00FFFF';" data-toggle="popover" title="Popover title" data-content="And here's some amazing content. It's very engaging. Right?">{{ classe}}</td>

</tr>



</tbody>


</table> -->


<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">












        <img src="/images/tsp.png" alt="Simply Easy Learning" usemap="#workmap" id="mamap" class="img-fluid">

        <map name="workmap" >

            <area shape="poly" coords="47,321,95,322,117,350,93,414,10,411" alt="Salles E" href="computer.htm" >
            <area shape="poly" coords="157,325,205,328,223,356,203,420,128,415" alt="Salles A" href="computer.htm" >
            <area shape="poly" coords="266,331,317,334,322,357,307,442,245,420" alt="Salles B" href="computer.htm" >
            <area shape="poly" coords="167,421,249,424,275,451,257,491,160,487" alt="Salles D" href="computer.htm" >
            <area shape="poly" coords="41,415,127,419,148,441,137,481,53,481,30,453" alt="Salles C" href="computer.htm" >
            <area shape="poly" coords="179,278,215,258,218,278,377,307,364,347,163,313" alt="Forum" href="computer.htm" >
            <area shape="poly" coords="318,132,307,92,387,3,410,11,418,42,486,59,487,77,416,170" alt="Etoile" href="computer.htm" >
            <area shape="poly" coords="375,382,372,372,383,304,435,307,428,383" alt="Salles BL" href="computer.htm" >
            <area shape="poly" coords="434,449,465,407,468,379,542,385,540,403,588,407,587,443,584,482,549,489,509,486,501,458,466,469" alt="Foyer" href="computer.htm" >
            <area shape="poly" coords="811,313,851,222,886,237,876,259,952,291,935,345,899,331,903,311,873,300,858,333" alt="Salles F" href="computer.htm" >
            <area shape="poly" coords="1010,348,1023,278,1052,248,1111,271,1111,342,1091,334,1063,366" alt="Rits" href="computer.htm" >
            <area shape="poly" coords="" alt="Salles BL" href="computer.htm" >

            <area shape="circle" coords="164,240,45" alt="Nova" href="computer.htm"  >

        </map>
















    </div>
    <div class="col-md-2"></div>


</div>
