<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <div class="text-center"><h1>Connexion</h1></div>

        <form name="connexionForm">
            <div class="form-group">
                <label for="exampleInputEmail1">Pseudo</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ng-model="user.pseudo">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Mot de passe</label>
                <input type="password" class="form-control" id="exampleInputPassword1" ng-model="user.password">
            </div>

           <div class="text-center"><button type="submit" class="btn btn-primary" ng-click="connexionForm.$valid && login()">Connexion</button></div>
        </form>


    </div>
    <div class="col-md-2"></div>


</div>