<div class="row">

    <div class="col-md-2"></div>
    <div class="col-md-8">

        <a class="btn btn-primary float-left" href="#!/" role="button"><i class="fas fa-arrow-left"></i> Retour</a>
        <div class="text-center"><h1>Bâtiment {{nomSalle}}</h1></div>


<h3> Veuillez choisir un étage :</h3><br>

        <div class="text-center">
        <div class="btn-group-vertical" role="group" aria-label="Basic example">


            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/4" role="button">Etage 4</a>
            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/3" role="button">Etage 3</a>
            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/2" role="button">Etage 2</a>
            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/1" role="button">Etage 1</a>
            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/Rdc" role="button">Rez-de-Chaussée</a>
            <a class="btn btn-secondary" href="#!/Salle/{{nomSalle}}/0" role="button">Sous-Sol</a>
        </div>



        </div>




    </div>
    <div class="col-md-2"></div>


</div>